In [2]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
    index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])

s1

a  1    0.337429
   2    0.507967
   3    0.772346
b  1   -0.229965
   2   -0.169383
c  3    0.117482
   1   -0.110471
d  2    0.014511
   3   -0.480595
dtype: float64

In [5]:
s2 = pd.Series(np.random.randn(9),
               index = pd.MultiIndex.from_arrays([
                   ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                   [1, 2, 3, 1, 2, 3, 1, 2, 3]],
                   names = ["key1", "key2"]))
s2

key1  key2
a     1       0.491719
      2       1.506579
      3       1.124372
b     1      -0.331007
      2       1.218174
c     3      -0.295337
      1       0.591540
d     2       0.537636
      3      -0.054230
dtype: float64

In [10]:
display(s2.unstack("key2", fill_value=0))
s2.unstack("key1", fill_value=0)

key2         1         2         3
key1
a     0.491719  1.506579  1.124372
b    -0.331007  1.218174  0.000000
c     0.591540  0.000000 -0.295337
d     0.000000  0.537636 -0.054230

key1         a         b         c         d
key2
1     0.491719 -0.331007  0.591540  0.000000
2     1.506579  1.218174  0.000000  0.537636
3     1.124372  0.000000 -0.295337 -0.054230

In [15]:
s3 = s2.unstack("key1", fill_value=0)
s3.T              #欄列對調 .T

key2         1         2         3
key1
a     0.491719  1.506579  1.124372
b    -0.331007  1.218174  0.000000
c     0.591540  0.000000 -0.295337
d     0.000000  0.537636 -0.054230

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(4,3)),
                    index=pd.MultiIndex.from_arrays([["a","a","b","b"],[1,2,1,2]],names=["key1","key2"])